body {
  margin: 0%;
  padding: 0%;
  width: 100%;
  max-width: 180000px;
  height: 100%;
  font-family: Arial, sans-serif;
  float: left; }

#wrapper {
  width: 100%;
  height: 100%;
  float: left; }
  #wrapper header {
    width: 100%;
    float: left;
    height: 80px;
    background-color: #161616;
    color: #009bed;
    border-bottom: solid 1px #fbfbfb; }
    #wrapper header #logo {
      margin-left: 5%;
      float: left;
      width: 25%;
      height: 90%;
      margin-top: 5px; }
    @media screen and (max-width: 980px) {
      #wrapper header #logo {
        margin-top: 0px;
        width: 50%;
        height: 95%; } }
    #wrapper header #top_nav {
      margin-left: 5%;
      float: left;
      margin-top: 3%;
      display: none; }
      #wrapper header #top_nav ul {
        display: inline;
        list-style: none;
        color: #fbfbfb;
        padding: 0px; }
        #wrapper header #top_nav ul li {
          display: inline;
          text-decoration: none; }
    @media screen and (max-width: 980px) {
      #wrapper header #top_nav {
        display: none; } }
    #wrapper header #soc_media {
      margin-right: 5%;
      float: right;
      margin-top: 1%; }
      #wrapper header #soc_media ul {
        display: inline;
        list-style: none;
        color: #009bed;
        padding: 0px; }
        #wrapper header #soc_media ul li {
          display: inline;
          text-decoration: none; }
          #wrapper header #soc_media ul li a img {
            width: 40px;
            height: 40px; }
        #wrapper header #soc_media ul li:first-of-type {
          margin-right: 0%; }
        #wrapper header #soc_media ul li {
          display: inline;
          text-decoration: none; }
          #wrapper header #soc_media ul li .fb-share-button {
            display: inline; }
            #wrapper header #soc_media ul li .fb-share-button a img {
              width: 40px;
              height: 40px; }
    @media screen and (max-width: 980px) {
      #wrapper header #soc_media {
        margin-top: -5px; }
        #wrapper header #soc_media ul {
          display: block; }
          #wrapper header #soc_media ul li .fb-share-button a img {
            width: 70px;
            height: 70px;
            margin-left: 20px; }
          #wrapper header #soc_media ul li a img {
            width: 70px;
            height: 70px; } }
  @media screen and (max-width: 980px) {
    #wrapper header {
      height: 100px;
      border-bottom: solid #fbfbfb 3px; } }

#content {
  width: 100%;
  height: auto;
  float: left;
  background-color: #009bed; }
  #content #dia {
    background-color: #009bed;
    float: left;
    height: 650px; }
  @media screen and (max-width: 980px) {
    #content #dia {
      width: 100%;
      margin-bottom: 100px;
      height: 870px; }
      #content #dia h3 {
        font-size: 1.6em; } }
  @media screen and (max-width: 790px) {
    #content #dia {
      height: 1000px; } }
  @media screen and (max-width: 485px) {
    #content #dia {
      margin-bottom: 150px; } }
  #content #space {
    width: 100%;
    height: 170px;
    float: left;
    -webkit-transform: skewY(-6deg);
    -o-transform: skewY(-6deg);
    -moz-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    transform: skewY(-6deg);
    background-color: #fbfbfb;
    position: relative;
    z-index: 2;
    margin-top: -100px;
    margin-bottom: 0px;
    padding-bottom: 0px; }
  @media screen and (max-width: 980px) {
    #content #space {
      margin-top: -250px; } }
  #content h3 {
    margin-left: 5%;
    margin-right: 5%;
    font-family: Arial-Black; }
  #content .columns {
    width: 26%;
    display: inline;
    float: left;
    margin-right: 5%; }
    #content .columns #learn {
      color: #161616;
      width: 100%;
      float: left; }
      #content .columns #learn .sec_head {
        color: transparent;
        float: left;
        height: auto;
        position: relative; }
        #content .columns #learn .sec_head h2 {
          font-family: Arial-Black, sans-serif;
          float: left;
          color: #fbfbfb;
          position: relative;
          z-index: 2;
          margin-left: 5%; }
      #content .columns #learn .sec_head::before {
        content: " ";
        border-bottom: 45px solid #161616;
        border-left: 150px solid #161616;
        border-right: 0px solid transparent;
        border-top: 10px solid transparent;
        height: 0;
        width: 0px;
        float: left;
        position: absolute;
        z-index: 1; }
      #content .columns #learn .info {
        clear: both; }
        #content .columns #learn .info h2 {
          font-family: Arial-Black, sans-serif;
          clear: both;
          margin-bottom: -10px; }
        #content .columns #learn .info p {
          clear: both;
          font-size: 1em; }
      #content .columns #learn .info h2 {
        font-family: Arial-Black, sans-serif; }
    @media screen and (max-width: 980px) {
      #content .columns #learn {
        display: none; } }
    #content .columns #facts {
      color: #161616; }
      #content .columns #facts .sec_head {
        color: transparent;
        float: left;
        height: auto;
        position: relative; }
        #content .columns #facts .sec_head h2 {
          font-family: Arial-Black, sans-serif;
          float: left;
          color: #fbfbfb;
          position: relative;
          z-index: 2;
          margin-left: 5%; }
      #content .columns #facts .sec_head::before {
        content: " ";
        border-bottom: 45px solid #161616;
        border-left: 150px solid #161616;
        border-right: 0px solid transparent;
        border-top: 10px solid transparent;
        height: 0;
        width: 0px;
        float: left;
        position: absolute;
        z-index: 1; }
      #content .columns #facts ul {
        clear: both;
        list-style: none;
        padding: 0px;
        margin-left: 0%;
        font-size: 1em; }
        #content .columns #facts ul li {
          text-decoration: none;
          margin-bottom: 10px; }
      #content .columns #facts h3 {
        margin-left: 0%;
        font-family: Arial-Black, sans-serif; }
    @media screen and (max-width: 980px) {
      #content .columns {
        display: none; } }
    #content .columns #action h2 {
      font-family: Arial-Black, sans-serif;
      position: relative;
      z-index: 1; }
    #content .columns #action #lead {
      position: absolute;
      z-index: 0;
      width: 85%;
      height: 10px;
      background: #d00303;
      margin-top: -20px;
      margin-left: -70%;
      background: linear-gradient(to right, transparent 10%, #d00303);
      background: -moz-gradient(to right, transparent 10%, #d00303);
      border-radius: 50px; }
    #content .columns #action p {
      color: #161616; }
    #content .columns #action h3 {
      margin-left: 0%; }
    #content .columns #action #loading {
      position: relative;
      z-index: 999;
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
      margin-left: 60px;
      display: none; }
      #content .columns #action #loading img {
        width: 70px;
        height: 70px; }
    #content .columns #action .hidden {
      display: none; }
    #content .columns #action #alderman-profile {
      font-family: Arial, sans-serif;
      font-size: 1em;
      background-color: #fbfbfb;
      border-radius: 5px;
      border-left: solid 1px #161616;
      border-right: solid 1px #161616;
      border-bottom: solid 1px #161616;
      margin-bottom: 5%;
      margin-top: -5%; }
      #content .columns #action #alderman-profile #alderman-name {
        background-color: #161616;
        color: #fbfbfb;
        border-bottom: solid 1px #fbfbfb;
        border-radius: 5px 5px 0px 0px;
        text-align: center;
        padding: 2%;
        font-size: 1.3em;
        position: relative;
        z-index: 2; }
      #content .columns #action #alderman-profile #skew {
        color: #161616;
        background-color: transparent;
        margin-top: -20px;
        padding-left: 5%;
        font-size: 1.1em;
        position: relative;
        z-index: 1; }
        #content .columns #action #alderman-profile #skew #alderman-ward {
          color: #161616;
          position: relative;
          z-index: 1; }
      #content .columns #action #alderman-profile #skew::before {
        content: "  ";
        background-color: #009bed;
        width: 100%;
        position: absolute;
        z-index: -1;
        height: 40px;
        margin-left: -5%;
        transform: skewY(-3deg);
        margin-top: -20px; }
      #content .columns #action #alderman-profile h5:nth-of-type(2) {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 1.1em;
        margin-top: -20px;
        position: relative;
        z-index: 1; }
      #content .columns #action #alderman-profile p {
        margin-left: 5%;
        margin-right: 5%;
        font-size: .9em;
        padding-bottom: 2%; }
    #content .columns #action #alderman-err {
      font-family: Arial; }
      #content .columns #action #alderman-err p {
        font-size: 1.1em; }
    #content .columns #action #script {
      float: left; }
      #content .columns #action #script #visible {
        display: block;
        font-size: 1.2em;
        color: #161616;
        margin-top: 0px;
        margin-bottom: 10px;
        text-decoration: none;
        position: relative;
        padding: 0%;
        margin-left: 5%;
        margin-top: 10px;
        padding: 2%; }
      #content .columns #action #script #visible:hover {
        cursor: pointer;
        background-color: #fbfbfb; }
      #content .columns #action #script #in_box {
        background-color: #fbfbfb;
        position: absolute;
        z-index: 5;
        width: 60%;
        padding: 2%;
        display: none;
        border: solid 5px #009bed;
        border-radius: 15px;
        left: 0%;
        margin-left: 5%; }
        #content .columns #action #script #in_box #hidden {
          font-size: 2em;
          position: absolute;
          z-index: 5;
          margin-left: 90%;
          margin-right: 4%;
          top: 0px;
          margin-top: 0%;
          margin-bottom: 0%;
          text-decoration: none;
          color: #161616; }
        #content .columns #action #script #in_box #mob_hidden:hover {
          cursor: pointer; }
        #content .columns #action #script #in_box div {
          float: left; }
          #content .columns #action #script #in_box div h5 {
            font-size: 1.3em; }
          #content .columns #action #script #in_box div p {
            font-size: 1.1em; }
          #content .columns #action #script #in_box div a {
            text-decoration: none;
            color: #009bed; }
    #content .columns #action ul {
      list-style: none;
      float: left;
      margin: 0%;
      position: relative;
      z-index: 3; }
      #content .columns #action ul li {
        text-decoration: none;
        float: right;
        clear: both; }
        #content .columns #action ul li #address {
          float: right;
          margin-right: 10px; }
          #content .columns #action ul li #address label {
            font-family: Arial; }
          #content .columns #action ul li #address .d_input {
            width: 200px;
            margin-bottom: 10px;
            border-radius: 5px;
            height: 20px;
            float: right;
            font-size: 1em; }
          #content .columns #action ul li #address .button {
            float: right;
            clear: both;
            display: inline-block;
            border-radius: 10px;
            height: 35px;
            width: 80px;
            font-family: Courier;
            color: #009bed;
            background-color: #fbfbfb;
            font-weight: bold;
            border: solid 3px #009bed;
            font-family: Arial-Black;
            font-size: 1em; }
          #content .columns #action ul li #address .button:hover {
            cursor: pointer; }
          #content .columns #action ul li #address .button:active {
            background-color: #009bed;
            color: #fbfbfb; }
      #content .columns #action ul li:first-of-type {
        margin-bottom: 30px; }
      #content .columns #action ul li:nth-of-type(2) {
        margin-bottom: 10px; }
    #content .columns #action #can-petition-area-thebluestlie-rescind-the-blues-lives-chicago-ordinance {
      background-color: #fbfbfb;
      border: solid 2px #161616;
      border-radius: 5px;
      font-family: Arial;
      position: relative;
      z-index: 3;
      width: 90%;
      float: left;
      display: none; }
      #content .columns #action #can-petition-area-thebluestlie-rescind-the-blues-lives-chicago-ordinance .can_embed.v2.petition #can_embed_form {
        padding: 10%; }
        #content .columns #action #can-petition-area-thebluestlie-rescind-the-blues-lives-chicago-ordinance .can_embed.v2.petition #can_embed_form #can_embed_form_inner {
          text-align: center;
          display: block;
          margin-left: auto;
          margin-right: auto; }
          #content .columns #action #can-petition-area-thebluestlie-rescind-the-blues-lives-chicago-ordinance .can_embed.v2.petition #can_embed_form #can_embed_form_inner h2 {
            display: none; }
          #content .columns #action #can-petition-area-thebluestlie-rescind-the-blues-lives-chicago-ordinance .can_embed.v2.petition #can_embed_form #can_embed_form_inner h3 {
            display: none; }
          #content .columns #action #can-petition-area-thebluestlie-rescind-the-blues-lives-chicago-ordinance .can_embed.v2.petition #can_embed_form #can_embed_form_inner h4 {
            display: none; }
          #content .columns #action #can-petition-area-thebluestlie-rescind-the-blues-lives-chicago-ordinance .can_embed.v2.petition #can_embed_form #can_embed_form_inner form #form_col1 {
            width: 100px; }
            #content .columns #action #can-petition-area-thebluestlie-rescind-the-blues-lives-chicago-ordinance .can_embed.v2.petition #can_embed_form #can_embed_form_inner form #form_col1 .country_wrap {
              display: none; }
          #content .columns #action #can-petition-area-thebluestlie-rescind-the-blues-lives-chicago-ordinance .can_embed.v2.petition #can_embed_form #can_embed_form_inner form #form_col2 textarea {
            display: none; }
    @media screen and (max-width: 980px) {
      #content .columns #action {
        display: none; } }
  #content .columns:first-of-type {
    margin-left: 5%; }
  #content .columns:last-of-type {
    margin-right: 5%; }
  #content #mob_call {
    display: none;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%; }
    #content #mob_call h2 {
      font-size: 4em;
      font-family: Arial-Black, sans-serif; }
    #content #mob_call h3 {
      font-size: 2.3em;
      font-family: Arial-Black, sans-serif; }
    #content #mob_call #mob_loading {
      display: none;
      position: relative;
      z-index: 999;
      width: 100px;
      height: 100px;
      margin-bottom: 50px;
      margin-left: 200px; }
      #content #mob_call #mob_loading img {
        width: 120px;
        height: 120px; }
    #content #mob_call .hidden {
      display: none; }
    #content #mob_call #mob-profile {
      font-family: Arial;
      font-size: 1em;
      background-color: #fbfbfb;
      border-radius: 5px;
      border-left: solid 1px #161616;
      border-right: solid 1px #161616;
      border-bottom: solid 1px #161616;
      margin-bottom: 5%;
      width: 80%;
      max-width: 500px; }
      #content #mob_call #mob-profile #mob-name {
        background-color: #161616;
        color: #fbfbfb;
        border-bottom: solid 1px #fbfbfb;
        border-radius: 5px 5px 0px 0px;
        text-align: center;
        padding: 2%;
        font-size: 1.3em;
        position: relative;
        z-index: 2; }
      #content #mob_call #mob-profile #mob-skew {
        color: #161616;
        background-color: transparent;
        margin-top: 0px;
        padding-left: 5%;
        font-size: 1.1em;
        position: relative;
        z-index: 1; }
        #content #mob_call #mob-profile #mob-skew #mob-ward {
          color: #161616;
          position: relative;
          z-index: 1; }
      #content #mob_call #mob-profile #mob-skew::before {
        content: "  ";
        background-color: #009bed;
        width: 100%;
        position: absolute;
        z-index: -1;
        height: 60px;
        margin-left: -5%;
        transform: skewY(-3deg);
        margin-top: -50px; }
      #content #mob_call #mob-profile h5:nth-of-type(2) {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 1.1em;
        margin-top: -20px;
        position: relative;
        z-index: 1; }
      #content #mob_call #mob-profile p {
        margin-left: 5%;
        margin-right: 5%;
        font-size: .9em;
        padding-bottom: 2%; }
    #content #mob_call #mob-err {
      font-family: Arial, sans-serif;
      width: 80%;
      max-width: 500px; }
      #content #mob_call #mob-err p {
        font-size: 1.1em; }
    #content #mob_call #mob_script {
      float: left; }
      #content #mob_call #mob_script #mob_visible {
        display: block;
        font-size: 1.2em;
        color: #161616;
        margin-top: 0px;
        margin-bottom: 10px;
        text-decoration: none;
        position: relative;
        padding: 0%;
        margin-left: 5%;
        margin-top: 10px;
        padding: 2%; }
      #content #mob_call #mob_script #mob_visible:hover {
        cursor: pointer;
        background-color: #fbfbfb; }
      #content #mob_call #mob_script #mob_in_box {
        background-color: #fbfbfb;
        position: absolute;
        z-index: 5;
        width: 60%;
        padding: 2%;
        display: none;
        border: solid 5px #009bed;
        border-radius: 15px; }
        #content #mob_call #mob_script #mob_in_box #mob_hidden {
          font-size: 2em;
          position: absolute;
          z-index: 5;
          margin-left: 90%;
          margin-right: 4%;
          top: 0px;
          margin-top: 0%;
          margin-bottom: 0%;
          text-decoration: none;
          color: #161616; }
        #content #mob_call #mob_script #mob_in_box #mob_hidden:hover {
          cursor: pointer; }
        #content #mob_call #mob_script #mob_in_box div {
          float: left; }
          #content #mob_call #mob_script #mob_in_box div h5 {
            font-size: 1.3em; }
          #content #mob_call #mob_script #mob_in_box div p {
            font-size: 1.1em; }
          #content #mob_call #mob_script #mob_in_box div a {
            text-decoration: none;
            color: #009bed; }
    #content #mob_call ul {
      margin-right: 5%;
      margin-left: 5%;
      color: #009bed;
      list-style: none;
      float: right;
      margin: 0%;
      position: relative;
      z-index: 3; }
      #content #mob_call ul li {
        display: block;
        margin-left: 0%;
        float: right;
        text-decoration: none;
        clear: both; }
        #content #mob_call ul li #mob_address {
          float: right;
          margin-right: 10px;
          font-size: 1.4em; }
          #content #mob_call ul li #mob_address label {
            font-family: Arial, sans-serif;
            color: #161616;
            font-size: 1.5em; }
          #content #mob_call ul li #mob_address .mob_input {
            width: 200px;
            margin-bottom: 10px;
            border-radius: 5px;
            height: 18px;
            float: right;
            font-size: 1.3em; }
          #content #mob_call ul li #mob_address .button {
            float: right;
            border-radius: 10px;
            height: 20px;
            font-family: Courier;
            color: #009bed;
            background-color: #fbfbfb;
            font-weight: bold;
            border: solid 2px #009bed;
            clear: both;
            font-family: Arial-Black; }
          #content #mob_call ul li #mob_address .button:active {
            background-color: #009bed;
            color: #fbfbfb; }
        #content #mob_call ul li li:first-of-type {
          margin-bottom: 30px; }
      #content #mob_call ul p {
        font-size: 1.4em; }
  @media screen and (max-width: 980px) {
    #content #mob_call {
      display: block; }
      #content #mob_call ul li #mob_address .mob_input {
        width: 300px;
        height: 36px; }
      #content #mob_call ul li #mob_address .button {
        font-size: 1.1em;
        height: 40px; } }
  #content #sec_ln {
    background-color: #fbfbfb;
    width: 100%;
    height: 200px;
    float: left;
    position: relative;
    z-index: 1;
    margin-top: -80px; }
  @media screen and (max-width: 980px) {
    #content #sec_ln {
      display: none; } }
  #content #mob_ln {
    display: none;
    color: #161616;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: -130px;
    float: left;
    background-color: #fbfbfb;
    position: relative;
    z-index: 2;
    padding-bottom: 100px; }
    #content #mob_ln .sec_head {
      color: transparent;
      float: left;
      height: auto;
      position: relative; }
      #content #mob_ln .sec_head h2 {
        font-size: 4em;
        font-family: Arial-Black, sans-serif;
        color: #fbfbfb;
        position: relative;
        z-index: 2; }
    #content #mob_ln .sec_head::before {
      content: " ";
      border-bottom: 90px solid #161616;
      border-left: 350px solid #161616;
      border-right: 0px solid transparent;
      border-top: 10px solid transparent;
      margin-top: 65px;
      top: -10px;
      height: 0px;
      width: 0px;
      float: left;
      position: absolute;
      z-index: 1; }
    #content #mob_ln .info {
      clear: both; }
      #content #mob_ln .info h3 {
        font-size: 2.3em;
        margin-left: 0%;
        font-family: Arial-Black, sans-serif; }
      #content #mob_ln .info p {
        margin-top: -30px;
        font-size: 1.4em; }
    #content #mob_ln .info h3 {
      font-size: 2.3em;
      margin-left: 0%;
      font-family: Arial-Black, sans-serif; }
    #content #mob_ln .info p {
      font-size: 1.4em; }
  @media screen and (max-width: 980px) {
    #content #mob_ln {
      display: block; } }
  #content #mob_space {
    display: none;
    width: 100%;
    height: 170px;
    float: left;
    -webkit-transform: skewY(-6deg);
    -o-transform: skewY(-6deg);
    -moz-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    transform: skewY(-6deg);
    background-color: #009bed;
    position: relative;
    z-index: 2;
    margin-top: -40px;
    margin-bottom: 0px;
    padding-bottom: 0px; }
  @media screen and (max-width: 980px) {
    #content #mob_space {
      display: block; } }
  #content #mob_ft {
    display: none;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    z-index: 2;
    margin-top: -100px;
    background-color: #009bed;
    float: left;
    padding-bottom: 50px; }
    #content #mob_ft .sec_head {
      color: transparent;
      float: left;
      height: auto;
      position: relative; }
      #content #mob_ft .sec_head h2 {
        font-size: 4em;
        font-family: Arial-Black, sans-serif;
        color: #fbfbfb;
        position: relative;
        z-index: 2; }
    #content #mob_ft .sec_head::before {
      content: " ";
      border-bottom: 90px solid #161616;
      border-left: 350px solid #161616;
      border-right: 0px solid transparent;
      border-top: 10px solid transparent;
      margin-top: 65px;
      top: -10px;
      height: 0px;
      width: 0px;
      float: left;
      position: absolute;
      z-index: 1; }
    #content #mob_ft ul {
      clear: both;
      list-style: none;
      padding: 0px;
      margin-left: 0%; }
      #content #mob_ft ul li {
        text-decoration: none;
        font-size: 1.4em;
        margin-bottom: 5%; }
    #content #mob_ft h3 {
      margin-left: 0%;
      font-size: 2.3em;
      font-family: Arial-Black, sans-serif; }
    #content #mob_ft form {
      float: right;
      margin-right: 10px;
      font-size: 1.4em; }
      #content #mob_ft form label {
        font-family: Arial-Black, sans-serif; }
      #content #mob_ft form .input {
        width: 200px;
        margin-bottom: 10px;
        border-radius: 5px;
        height: 18px;
        float: right; }
      #content #mob_ft form .button {
        float: right;
        clear: both;
        border-radius: 10px;
        height: 20px;
        font-family: Courier;
        color: #009bed;
        background-color: #fbfbfb;
        font-weight: bold;
        border: none;
        font-family: Arial-Black, sans-serif; }
      #content #mob_ft form .button:hover {
        cursor: pointer; }
      #content #mob_ft form .button:active {
        background-color: #009bed;
        color: #fbfbfb; }
  @media screen and (max-width: 980px) {
    #content #mob_ft {
      display: block; } }

footer {
  width: 100%;
  float: left;
  background-color: #e5e5e5;
  height: 110px; }
  footer section {
    margin-left: 5%;
    color: #161616;
    float: left;
    margin-top: 30px;
    font-size: 1.2em; }
  @media screen and (max-width: 980px) {
    footer section {
      font-size: 1.4em; } }
  footer ul {
    float: right;
    list-style: none;
    display: inline;
    margin: 0%;
    margin-right: 5%;
    margin-top: 20px; }
    footer ul li {
      text-decoration: none;
      display: inline; }
      footer ul li a img {
        width: 40px;
        height: 40px; }
    footer ul li {
      display: inline;
      text-decoration: none; }
      footer ul li .fb-share-button {
        display: inline; }
        footer ul li .fb-share-button a img {
          width: 40px;
          height: 40px; }
  @media screen and (max-width: 980px) {
    footer ul {
      display: none; } }
  footer #logoBY {
    width: 10%;
    float: right;
    margin-top: 15px; }
  @media screen and (max-width: 980px) {
    footer #logoBY {
      width: 20%;
      float: right;
      margin-right: 5%;
      margin-top: 10px; } }

/*# sourceMappingURL=Blu.css.map */
