---
title: "Alderman"
layout: wrapper
permalink: /alderman
---
<div class="row aldermanRow">
	<div class="col-sm-8">
		<div class="aldermanInfo">
			<h1>Your Alderman:</h1>
			<p>Name:</p>
			<p>Ward #:</p>
			<p>Contact Information:</p>
			<p>City Council Committees</p>
		</div>
	</div>
	<div class="col-sm-4">
		<img style="max-width: 300px;" src="./css/images/placeholder.gif">

	</div>
</div>
<div class="row issueRow text-center">
	<div class="col-sm-12">
		<h2>Issues: Please select an issue/issues that you care about!</h1>
			<ul class="issueList">
				<li><a href="#">Police accountability</a></li>
				<li><a href="#">Education</a></li>
				<li><a href="#">Housing</a></li>
				<li><a href="#">Transportation</a></li>
				<li><a href="#">Other</a></li>
			</ul>
		</div>

	</div>
