---
title: "Alderman"
layout: wrapper
permalink: /alderman
---
<div class="row aldermanRow">
	<div class="col-sm-8">
		<div class="aldermanInfo">
			<h1>Your Alderman</h1>
			<p>Name: {{ page.council_member }}</p>
			<p>{{ page.title }}</p>
			<p>Contact Information: {{ page.phone }}</p>
			<p>City Council Committees</p>
		</div>
	</div>
	<div class="col-sm-4">
		<img style="max-width: 300px;" src="/css/images/placeholder.gif">

	</div>
</div>
<div class="row issueRow text-center">
	<div class="col-sm-12">
		<h2>Issues: Please select an issue/issues that you care about!</h1>
			<ul class="issueList">
				{% for issue in site.issues %}
					<li><a href="{{ issue.url }}">{{ issue.title }}</a></li>
				{% endfor %}
			</ul>
		</div>

	</div>