---
layout: default
---
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<ul class="nav navbar-nav">
				{% for page in site.pages %}
	        	<li>
	        		<a href="{{ page.permalink }}">{{ page.title }}</a>
	        	</li>
	        	{% endfor %}
	        </ul>
		</div>
	</div>
</nav>
<div class="row">
	<div class="col-xs-12">
		{{ content }}
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		{% include ald_lookup.html %}
	</div>
</div>