---
layout: wrapper
---

<div class="row aboutRow">
	<div class="col-sm=12">
		<h1>About Chi Calls</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>
<div class="row aldermanFinder">
	<div class="col-sm-12">
		<div class="form-group">
			<label for="aldermanFinder">Find Your Alderman!</label>
			<input class="form-control" placeholder="Enter address">
		</div>
	</div>	
</div>