---
layout: wrapper
---

<div class="row callRow">
	<div class="col-sm-12">
		<h3>CALL your alderman about {{ page.title }}</h3>
		<p>Phone number:</p>
		<p>Script</p>
	</div>
</div>
<div class="row actionRow">
	<div class="col-sm-12">
		<h3>ACTION: Show up to X protest</h3>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<p>Where:<p>
		</div>
		<div class="col-sm-4">
			<p>When:</p>	
		</div>
		<div class="col-sm-4">
			<p>Organizing Group:</p>		
		</div>
	</div>
</div>
<div class="row donateRow">
	<div class="col-sm-12">
		<h3>DONATE: Support {{ page.title }}</h3>
		<p>Your donation will go towards</p>
		<p>How to make your donation: <a href="#">link to site</a></p>			
	</div>
</div>